<!DOCTYPE html>
<html>
<head>
    <title>{{ page.chapter_title }} - {{ page.title }}</title>
</head>
<body>

<h1>{{ page.title }}</h1> <!-- Aesop's Fables -->
<h2>{{ page.chapter_title }}</h2> <!-- Specific story title -->

<p>{{ page.content }}</p>

{% if next_page %}
    <form action="{{ url_for('read', page_no=next_page) }}" method="get">
        <button type="submit">Next Page</button>
    </form>
{% endif %}
{% if previous_page %}
    <form action="{{ url_for('read', page_no=previous_page) }}" method="get">
        <button type="submit">Previous Page</button>
    </form>
{% endif %}
{% if not next_page %}
    <p>You've finished reading!</p>
{% endif %}

<form action="{{ url_for('dashboard') }}" method="get">
    <input type="hidden" name="title" value="{{ page.title }}">
    <button type="submit">Dashboard</button>
</form>

</body>
</html>
